@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --light-font: #f5f5f5;

  /* Sync with default value attributes on overlay inputs */
  --overlay-color: #3a4052;
  --overlay-opacity: 0.4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}

body {
  font-family: "Montserrat", sans-serif;
}

.landing-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1.25rem;
}

.landing-section-description {
  font-size: 1.25rem;
  font-weight: 500;
}

.landing-section-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--overlay-color) url(./assets/media/cover.jpg) no-repeat
    center center/cover;
}

.landing-section-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  opacity: var(--overlay-opacity);
}

.landing-section-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.landing-section-content {
  z-index: 10;
  color: var(--light-font);
}

.landing-section-content .btn {
  display: inline-block;
  color: var(--light-font);
  font-weight: 500;
  margin: 1.5rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--light-font);
  border-radius: 0.25rem;
  opacity: 0.8;
}

.landing-section-content .btn:hover {
  background-color: var(--overlay-color);
}

.landing-section-content .btn:active {
  transform: scale(0.96);
}

.about-section,
.social-section {
  text-align: center;
}

.about-section {
  max-width: 720px;
  margin: auto;
  padding: 8rem 2rem;
}

.social-section {
  background-color: var(--overlay-color);
  color: var(--light-font);
  padding: 3rem 2rem;
}

.about-section-title,
.social-section-title {
  margin-bottom: 2rem;
}

.about-section-title {
  font-size: 3rem;
}

.social-section-title {
  font-size: 1.5rem;
}

.about-section-description {
  font-size: 1.25rem;
  line-height: 1.75;
}

.social-section-links .fab {
  display: inline-block;
  color: var(--light-font);
  padding: 0.5rem;
}

.opacity-input-container,
.color-input-container {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 1rem;
}

.color-input-container {
  left: 0;
  text-align: left;
}

.opacity-input-label,
.color-input-label {
  display: block;
  color: var(--light-font);
  font-weight: 500;
  margin-bottom: 0.5rem;
  opacity: 0.6;
}
